@import url("./assets/css/reset.css");
@import url("./assets/css/navbar.css");
@import url("./assets/css/home.css");
@import url("./assets/css/details.css");
@import url("./assets/css/search.css");
@import url("./assets/css/favourites.css");

:root {
  --gold-light: #d3a759; /* Light gold tone */
  --gold: #c79542; /* Classic gold */
  --gold-dark: #a97b2c; /* Darker gold */
  --black: #1b1b1b; /* Deep black */
  --gray-dark: #333333; /* Dark gray for contrast */

  /* Complementary tones */
  --cream: #f5e7c1; /* Creamy off-white */
  --bronze: #8c6239; /* Bronze accent */
  --charcoal: #4f4f4f; /* Charcoal gray */
  --soft-gold: #e0c078; /* Softer gold highlight */
}
@font-face {
  font-family: "Cambridge";
  src: url("./assets/fonts/Cambridge.ttf") format("truetype");
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid;
  border-color: #000 #0000;
  animation: l1 1s infinite;
}
@keyframes l1 {
  to {
    transform: rotate(0.5turn);
  }
}
