.detail-module {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
  color: white;
}

.detail-container {
  width: 60%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
  z-index: 100;
}

.detail-image-wrapper {
  width: 50%;
  height: 50%;
  position: relative;
  overflow: hidden;
}

.detail-image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
