#favourite-button {
  font-family: "Playfair Display", serif;
  border: 1px solid var(--soft-gold);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  font-size: 1.2vw;
  padding: 0.5rem 1rem;
  background-color: transparent;
  color: var(--soft-gold);
  cursor: pointer;
  z-index: 2;
  transition: 0.5s ease-in-out;
  position: absolute;
  left: 1rem;
  top: 1rem;
}

#favourite-icon {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.favourite-active {
  color: var(--cream);
}

.favourite-container {
  margin: auto;
  padding: 2rem;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
}

.favourite-cocktails-container {
  margin: auto;
  padding: 2rem;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  background-color: var(--black);
}
