.header {
  background-color: var(--black);
  border-bottom: 1px solid var(--gold-dark);
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  color: var(--white);
}

.nav {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.nav span {
  font-family: "Cambridge";
  font-size: 1.5rem;
  letter-spacing: 3px;
  margin: 1rem;
  cursor: pointer;
  color: var(--gold-light);
  transition: 0.2s ease-in-out;
}

.nav h1 {
  font-family: "Cambridge";
  font-size: 2rem;
  letter-spacing: 10px;
  margin: 1rem;
  color: var(--gold-light);
 
}

.nav span:hover {
  color: var(--cream);
}

#start-page,
#details-page,
#search-page,
#favo-page {
  display: none;
}

#start-page.open,
#details-page.open,
#search-page.open,
#favo-page.open {
  display: flex;
}

.nav-items {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: auto 0 auto auto;
}

.nav-items h1 {
  font-family: "Cambridge";
  font-size: 3rem;
  font-weight: 400;
  color: var(--gold-dark);
}
